@{
    ViewData["Title"] = "Home Page";
}

<div class="image-container">
    <img class="home-image" src="/images/home.jpg" alt="beach" />
</div>
<div class="jumbotron">
    <h1>Rusky Hotels</h1>
    <p class="lead">Reserve a place at the most expensive hotel on Earth.</p>
    <p><a href="@Url.Action("ReservationList", "Reservation")" class="btn btn-primary btn-lg">Make a reservation &raquo;</a></p>
</div>

